.pagination {
    user-select: none;
    margin-top: 30px;

    .pagination-item {
        width: 50px;
        height: 50px;
        background-color: #d1d0cfaa;
        color: black;
        font-weight: 800;
        font-size: 25px;
        cursor: pointer;
        transition: background .5s ease;
        border-radius: 5px;

        &:hover {
            background-color: #e7c798;
            color: white;
        }

        &:active {
            background-color: yellow;
        }
    }

    .active {
        background-color: #e7c798;
        color: white;
    }


    p {
        margin-top: 20px;
        font-size: 20px;
    }

    span {
        font-weight: 800;
    }
}