.error-notify {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(199, 123, 123);
    color: white;
}